<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Box Sizing</title>

    <link rel="stylesheet" href="/MÓDULO 1/views/04 - Box sizing/box.css">
</head>
<body>
    
    <div id="conteudo">
        As melhores empresas escolhem a plataforma Udemy for Business para desenvolver as habilidades de carreira necessárias.
        As melhores empresas escolhem a plataforma Udemy for Business para desenvolver as habilidades de carreira necessárias.
        As melhores empresas escolhem a plataforma Udemy for Business para desenvolver as habilidades de carreira necessárias.
        As melhores empresas escolhem a plataforma Udemy for Business para desenvolver as habilidades de carreira necessárias.

    </div>

</body>
</html>