<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fonts 2</title>

    
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <style>
        p{
        font-family: 'Bebas Neue', cursive;
        }
    </style>
</head>
<body>
    
   
        <p>As melhores empresas escolhem a plataforma Udemy for Business para desenvolver as habilidades de carreira necessárias.
        As melhores empresas escolhem a plataforma Udemy for Business para desenvolver as habilidades de carreira necessárias.
        As melhores empresas escolhem a plataforma Udemy for Business para desenvolver as habilidades de carreira necessárias.
        As melhores empresas escolhem a plataforma Udemy for Business para desenvolver as habilidades de carreira necessárias.

        </p>

    


</body>
</html>

