<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Background</title>

    <link rel="stylesheet" href="Background.css">
</head>
<body>
    
<button>CADASTRAR</button>
<p>O republicano Donald Trump e o democrata Joe Biden disputam os votos dos americanos. A apuração, que começou nesta quarta-feira (4), não tem data definida para acabar, dada a quantidade recorde de votos pelo correio.</p>

<p>O republicano Donald Trump e o democrata Joe Biden disputam os votos dos americanos. A apuração, que começou nesta quarta-feira (4), não tem data definida para acabar, dada a quantidade recorde de votos pelo correio.</p>

<p>O republicano Donald Trump e o democrata Joe Biden disputam os votos dos americanos. A apuração, que começou nesta quarta-feira (4), não tem data definida para acabar, dada a quantidade recorde de votos pelo correio.</p>

<p>O republicano Donald Trump e o democrata Joe Biden disputam os votos dos americanos. A apuração, que começou nesta quarta-feira (4), não tem data definida para acabar, dada a quantidade recorde de votos pelo correio.</p>

<p>O republicano Donald Trump e o democrata Joe Biden disputam os votos dos americanos. A apuração, que começou nesta quarta-feira (4), não tem data definida para acabar, dada a quantidade recorde de votos pelo correio.</p>

<p>O republicano Donald Trump e o democrata Joe Biden disputam os votos dos americanos. A apuração, que começou nesta quarta-feira (4), não tem data definida para acabar, dada a quantidade recorde de votos pelo correio.</p>

<p>O republicano Donald Trump e o democrata Joe Biden disputam os votos dos americanos. A apuração, que começou nesta quarta-feira (4), não tem data definida para acabar, dada a quantidade recorde de votos pelo correio.</p>


</body>
</html>