<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Float</title>

    <link rel="stylesheet" href="Position.css">
</head>
<body>
    
<div id="conteudo">

    <div id="texto">O republicano Donald Trump e o democrata Joe Biden disputam os votos dos americanos. A apuração, que começou nesta quarta-feira (4), não tem data definida para acabar, dada a quantidade recorde de votos pelo correio.</div>

    <div id="texto2">O republicano Donald Trump e o democrata Joe Biden disputam os votos dos americanos. A apuração, que começou nesta quarta-feira (4), não tem data definida para acabar, dada a quantidade recorde de votos pelo correio.</div>
</div>


</body>
</html>