<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Border</title>

    <link rel="stylesheet" href="border.css">
</head>
<body>
    <p id="exemplo"> 
        O republicano Donald Trump e o democrata Joe Biden disputam os votos dos americanos. A apuração, que começou nesta quarta-feira (4), não tem data definida para acabar, dada a quantidade recorde de votos pelo correio.
    </p>
    <p id="exemplo2"> 
        O republicano Donald Trump e o democrata Joe Biden disputam os votos dos americanos. A apuração, que começou nesta quarta-feira (4), não tem data definida para acabar, dada a quantidade recorde de votos pelo correio.
    </p>
    <p id="exemplo3"> 
    O republicano Donald Trump e o democrata Joe Biden disputam os votos dos americanos. A apuração, que começou nesta quarta-feira (4), não tem data definida para acabar, dada a quantidade recorde de votos pelo correio.
    </p>

    <p id="exemplo4"> 
    O republicano Donald Trump e o democrata Joe Biden disputam os votos dos americanos. A apuração, que começou nesta quarta-feira (4), não tem data definida para acabar, dada a quantidade recorde de votos pelo correio.
    </p>

    <p id="exemplo5"> 
    O republicano Donald Trump e o democrata Joe Biden disputam os votos dos americanos. A apuração, que começou nesta quarta-feira (4), não tem data definida para acabar, dada a quantidade recorde de votos pelo correio.
    </p>
    <p id="exemplo6"> 
        O republicano Donald Trump e o democrata Joe Biden disputam os votos dos americanos. A apuração, que começou nesta quarta-feira (4), não tem data definida para acabar, dada a quantidade recorde de votos pelo correio.
        </p>

</body>
</html>