<!DOCTYPE html>
<html lang="pt-bt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Variáveis</title>

    <link rel="stylesheet" href="variaveis.css">
</head>
<body>
    <div id="div1">
        <p>Method of making the border corners round. Covers support for the shorthand border-radius as well as the long-hand properties</p>
    </div>
    <div id="div2">
        <p>Method of making the border corners round. Covers support for the shorthand border-radius as well as the long-hand properties</p>
    </div>
    <div id="div3">
        <p>Method of making the border corners round. Covers support for the shorthand border-radius as well as the long-hand properties</p>
    </div>
</body>
</html>