<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seletor</title>

    <link rel="stylesheet" href="aplicandoCSS.css">
</head>
<body>
    <h1>Texto H1</h1>
    <p>Parágrafo</p>

    <form>
        <br>Nome:<br>
        <input class="texto" type="text" name="nome"><br>
        <br>E-mail:<br>
        <input id="Eemail" type="email" name="email"><br><br>
        <input type="submit" name="Enviar">
    </form>
</body>
</html>