<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text</title>
    <link rel="stylesheet" href="text.css">
</head>
<body>
    
   <p>
        As melhores empresas escolhem a plataforma Udemy for Business para desenvolver as habilidades de carreira necessárias.As melhores empresas escolhem a plataforma Udemy for Business para desenvolver as habilidades de carreira necessárias.As melhores empresas escolhem a plataforma Udemy for Business para desenvolver as habilidades de carreira necessárias.
    </p>
    <h1>ESQUERDA</h1>
    <h2>DIREITA</h2>
    <h3>CENTRO</h3>
   

    
</body>
</html>